@using Laboratorium3.Models

@model Post


<h1>Utwórz nowy post</h1>
<form asp-controller="Post" asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Content"></label>
        <input asp-for="Content" class="form-control" />
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Author"></label>
        <input asp-for="Author" class="form-control" />
        <span asp-validation-for="Author" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Tags"></label>
        <div>
            <span asp-validation-for="Tags" class="text-danger"></span>
        </div>
        <select class="form-control" asp-for="Tags" asp-items="@Html.GetEnumSelectList<Tags>()"></select>
    </div>
    <div class="form-group">
        <label asp-for="Comment"></label>
        <textarea asp-for="Comment" class="form-control"></textarea>
        <span asp-validation-for="Comment" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PublicationDate"></label>
        <input asp-for="PublicationDate" class="form-control" type="text" readonly value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")">
        <span asp-validation-for="PublicationDate" class="text-danger"></span>
    </div>


    <button type="submit" class="btn btn-primary">Utwórz</button>
</form>
