@using Laboratorium3.Models

@model Post

<h1>Czy na pewno chcesz usunąć post?</h1>

<p>Zawartość:</p>
<h3>@Model.Content</h3>

<form asp-controller="Post" asp-action="Delete">
    <input asp-for="Id" />
    <button class="btn btn-danger" type="submit">Tak</button>
    <a class="btn btn-outline-primary" asp-action="Index">Nie</a>
</form>
