@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<div class="container">
    <header class="text-center mt-5">
        <h1 class="display-4">Witaj na stronie głównej</h1>
    </header>
    <main class="text-center my-4">
        <h3>Ostatnia wizyta: @ViewData["Visit"]</h3>
        <p>Przydatne linki <a href="https://docs.microsoft.com/aspnet/core">tworzeniem aplikacji internetowych w ASP.NET Core</a>.</p>
    </main>
    <footer class="text-center py-3">
        <p>&copy; Wszelkie prawa zastrzeżone.</p>
    </footer>
</div>